<footer class="container bg-feather mt-20 transition transform
    duration-500
    ease-in-out hover:scale-y-110">
  <div class="flex p-10 justify-center space-x-5 text-white">
    <a href="https://github.com/wxue24"><i class='bx bxl-github bx-md bx-tada-hover'></i></i></a>
    <a href="https://www.instagram.com/wxue.2020/"><i class='bx bxl-instagram bx-md bx-tada-hover' ></i></a>
    <a href="https://www.linkedin.com/in/wxue/"><i class='bx bxl-linkedin bx-md bx-tada-hover' ></i></a>
  </div>
  <div class="h-2 bg-sleek animate-pulse"></div>
</footer>
