<div
  class="
    transition
    transform
    duration-500
    ease-in-out
    bg-feather
    shadow-2xl
    hover:scale-y-110
  "
>
  <div class="h-2 bg-sleek animate-pulse"></div>
  <div
    class="flex flex-row relative mx-10 py-8 text-white text-xl font-semibold"
  >
    <a
      href="/"
      class="transition-colors duration-500 ease-in-out hover:text-sleek"
    >
      Will Xue
    </a>
    <div class="absolute right-0 space-x-5">
      <a
        href="/work"
        class="transition-colors duration-500 ease-in-out hover:text-sleek"
      >
        Work
      </a>
      <a
        href="/projects"
        class="transition-colors duration-500 ease-in-out hover:text-sleek"
      >
        Projects
      </a>
      <a
        href="/about"
        class="transition-colors duration-500 ease-in-out hover:text-sleek"
      >
        About
      </a>
      <a
        href="/contact"
        class="transition-colors duration-500 ease-in-out hover:text-sleek"
      >
        Contact
      </a>
    </div>
  </div>
</div>
