<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ title }}
    </title>
    <meta name="description" content="{{ metadata.description }}" />
    <link rel="icon" href="/assets/img/me.ico" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="w-screen font-mono">
    {% include "../components/navbar.html" %}
    <main class="h-full min-h-screen">
      {{ content | safe }}
    </main>
    {% include "../components/footer.html" %}
  </body>
</html>
