<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ title }}
    </title>
    <meta name="Description" content="" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>

  <body class="container h-screen font-serif">
    {% include "../components/navbar.html" %}
    <main>
      <div >
        {{ content | safe }}
      </div>
    </main>
    {% include "../components/footer.html" %}
  </body>
</html>
