---
title: About
layout: layouts/base.njk
permalink: /about/
---

<div class="m-20 flex flex-col">
  <div class="border-t-4 border-b-4 flex">
    <div class="flex m-20 ">
        <img src="../assets/img/headshot.jpg" class="rounded-full object-contain shadow-lg" />
    </div>
    <div class="space-y-5 my-10 mx-20">
      <h1 class="text-forest text-2xl">My Journey as a Software Developer</h1>
      <p>
        Hi! My name is Will and I am passionate about creating solutions to
        problems big and small. My interest in software development started in
        2020, when COVID hit during my senior year of high school. With
        everything shut down and a huge amount of free time on my hands, I
        decided to finally act on one of my ideas; creating a mobile app that
        would connect students based on similar interests. With zero knowledge,
        I began my journey of learning how to code from whatever resources I
        could find online, including Youtube, blogs, and of course,
        StackOverflow.
      </p>
      <p>
        Fast forward to today, and I've had the privilege of working as a
        full-stack developer for CloudSweeper, a tool that helps users
        understand and control their risks online. I'm also continuing to learn
        various new technologies, while applying them to real projects.
        Ultimately, I hope to be able to continue helping solve real-world
        problems by creating and contributing to innovative solutions.
      </p>
    </div>
  </div>
</div>
