---
title: About
layout: layouts/base.njk
permalink: /about/
---

<div class="m-10 sm:m-20 flex flex-col">
  <div class="sm:border-t-4 sm:border-b-4 flex flex-col lg:flex-row">
    <div class="self-center w-1/2 flex sm:m-20 lg:mt-20 lg:flex-none lg:mx-0 lg:p-20">
        <img src="../assets/img/headshot.jpg" class=" rounded-full object-contain shadow-lg" alt="Will Xue"/>
    </div>
    <div class="space-y-5 my-10 sm:mx-20 lg:mx-5">
      <h1 class="border-b-2 border-forest text-forest sm:text-2xl">My Journey as a Software Developer</h1>
      <p>
        Hi! My name is Will and I am passionate about creating solutions to
        problems big and small. My interest in software development started in
        2020, when COVID hit during my senior year of high school. With
        everything shut down and a huge amount of free time on my hands, I
        decided to finally act on one of my ideas; creating a mobile app that
        would connect students based on similar interests. With zero knowledge,
        I began my journey of learning how to code from whatever resources I
        could find online, including Youtube, blogs, and of course,
        StackOverflow.
      </p>
      <p>
        Fast forward to today, and I've had the privilege of working as a
        full-stack developer for CloudSweeper, a tool that helps users
        understand and control their risks online. I'm also continuing to learn
        various new technologies, while applying them to real projects.
        Ultimately, I hope to be able to continue helping solve real-world
        problems by creating and contributing to innovative solutions.
      </p>
      <h1 class="border-b-2 border-forest text-forest sm:text-2xl">A few more things about me...</h1>
      <ul class="">
        <li>- Sports trifecta: Soccer ⚽, basketball 🏀, volleyball 🏐</li>
        <li>- I can play the guitar, but can't sing for my life 🎸 </li>
        <li>- Change my mind, National Parks are the best vacation destinations  🏞 </li>
        <li>- Fan of The Office, Naruto, and Attack on Titan 🔥</li>
        <li>- Strongest diamond hands 💎 when it comes to crypto investing</li>
      </ul>
    </div>
    
  </div>
</div>
