---
title: Projects
layout: layouts/base.njk
permalink: /projects/
---

<div class="m-10 md:my-20 md:mx-32">
    {% for p in projects %}
    <div class="my-10">
        <h1 class="text-3xl uppercase my-2">{{ p.title }}</h1>
        <h2 class="italic mb-2 text-sleek text-lg">{{ p.time }}</h2>
        {% for paragraph in p.paragraphs %}
            <h2 class="text-2xl italic text-forest">{{paragraph.header}}</h2>
            <p>
            {{paragraph.description}}
            </p>
        {% endfor %}
    </div>
    {% if p.github | length %}
        <div class="border-b-2 pb-10 flex space-x-5">
            {% for g in p.github %}
                <a href="{{g.link}}" class="bg-marine px-5 py-2 rounded-full text-white">{{g.name}}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% endfor %}
</div>
